<nav class="navbar navbar-inverse navbar-fixed-top mynav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Dojo Ninjas</a>
        </div> <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/events">Events</a></li>
                <li><a href="#/resources">Resources</a></li>
                <li><a href="#/gallery">Gallery</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle dropdown-1" data-toggle="dropdown">Connect <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/chatroom">Chat Room</a></li>
                        <li><a href="#/messages">Messages</a></li>
                        <li><a href="#/dashboard">Discussion Board</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle dropdown-1" data-toggle="dropdown">Profile <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/logout">{{ header.currentUser.email }} Sign Out</a></li>
                        <li><a href="#/profile">Edit Profile</a></li>
                        <li><a href="#/ninjadex">Ninja Dex</a></li>
                    </ul>
                </li> 
            </ul> <!-- ul.nav navbar-nav navbar-right -->
        </div> <!-- div.collapse -->
    </div> <!-- container-fluid -->
</nav>

